/* src/styles/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f8b400;
    padding: 10px;
  }
  
  .navbar h1 {
    margin: 0;
  }
  
  .navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  